body {
	font-family: monospace;
}

h1 {
	margin-top:2em;
	text-align:center;
	border-bottom: solid black 10px;
	margin-right:10%;
	margin-left:10%;
}

div {
	margin-top:10px;
}

.inputalign {
	margin-left:400px;
	margin-right:20%;
	position:relative;
	bottom:20px;
}


.inputalignsemestre {
	margin-left:328px;
	margin-right:20%;
	position:relative;
	bottom:0px;
}

#main {
	padding:50px;	
	margin-right:auto;
	margin-left:auto;
	width:auto;
	max-width:600px;
}

#footer {
	border-top:5px solid blue;
	border-bottom:5px solid blue;
	margin:2em;
	padding:2em;
	font-size:x-small;
	text-align:center;	
	margin-right:10%;
	margin-left:10%;
}

#submit {
	margin-top:10px;
}

legend {
	text-transform: uppercase;
}

label.miseenpage {
	font-weight: bold;
	float:left;
	clear:left;
	width:250px;
	display:block;
}



.connaissances {
	color:red;
	background:#C0C0FF;
	
}

label.connaissance {
	clear:none;
	float: initial;
}

@media screen and (max-width:820px) {
	.inputalign {
	margin-left:300px;
	margin-right:30%;
	}
	.inputalignsemestre {
	margin-left:228px;
	margin-right:30%;
	position:relative;
	bottom:0px;
	}
}
@media screen and (max-width:620px) {
	.inputalign {
	margin-left:200px;
	margin-right:20%;
	}
	.inputalignsemestre {
	margin-left:128px;
	margin-right:20%;
	position:relative;
	bottom:0px;
	}
}